:root {
  /* Primary Colors */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  /* Neutral Colors */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --border-rad: 0.7rem;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100dvh;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  place-items: center;
  background-color: var(--cream);
}
main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}
.img-2 {
  display: none;
}

.img-1 {
  width: 100%;
  height: 100%;
  border-start-end-radius: var(--border-rad);
  border-start-start-radius: var(--border-rad);
}

.card-container {
  background-color: var(--white);
  border-end-end-radius: var(--border-rad);
  border-end-start-radius: var(--border-rad);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.main-title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1;
}
.tag {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--grey);
  font-weight: 500;
  letter-spacing: 4px;
}
.description {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey);
  margin-top: 0;
  line-height: 1.8;
}

.price-c {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 10px;
}
.price-1 {
  font-size: 2.2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--green-500);
}
.price-2 {
  font-size: calc(14 / 16 * 1rem);
  text-decoration-line: line-through;
  color: var(--grey);
}

.main-but {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: var(--green-500);
  color: var(--white);
  border: 0;
  border-radius: var(--border-rad);
  width: 100%;
  font-weight: 700;
  font-size: 14px;
}
.main-but:hover {
  background-color: var(--green-700);
}
footer {
  font-size: 10px;
  padding: 10px;
}
